-- ------------------------------------------------------
-- MySQL dump 8.0 修复版 for takeout_db
-- ------------------------------------------------------

-- Table structure for table `users`
DROP TABLE IF EXISTS `users`;
CREATE TABLE `users` (
                         `id` bigint NOT NULL AUTO_INCREMENT,
                         `username` varchar(255) DEFAULT NULL,
                         `password` varchar(255) NOT NULL,
                         `phone` varchar(255) DEFAULT NULL,
                         `email` varchar(255) DEFAULT NULL,
                         `role` varchar(255) DEFAULT NULL,
                         `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
                         `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                         `address` varchar(255) DEFAULT NULL,
                         PRIMARY KEY (`id`),
                         UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4;


-- Table structure for table `merchants`
DROP TABLE IF EXISTS `merchants`;
CREATE TABLE `merchants` (
                             `id` bigint NOT NULL AUTO_INCREMENT,
                             `name` varchar(255) DEFAULT NULL,
                             `address` varchar(255) DEFAULT NULL,
                             `phone` varchar(255) DEFAULT NULL,
                             `description` varchar(255) DEFAULT NULL,
                             `user_id` bigint NOT NULL,
                             `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
                             `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                             PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4;

INSERT INTO `merchants` VALUES
                            (1,'Merchant1','AddressA','13800138000',NULL,2,'2025-06-10 20:15:56','2025-06-12 02:15:05'),
                            (3,'Merchant2','AddressB','13388887777','Description2',1,'2025-06-11 06:04:43','2025-06-11 21:32:10'),
                            (4,'Merchant3','AddressC',NULL,'Description3',3,'2025-06-12 01:22:07','2025-06-12 01:22:13');

-- Table structure for table `categories`
DROP TABLE IF EXISTS `categories`;
CREATE TABLE `categories` (
                              `id` bigint NOT NULL AUTO_INCREMENT,
                              `name` varchar(255) DEFAULT NULL,
                              `description` varchar(255) DEFAULT NULL,
                              `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
                              `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                              `merchant_id` bigint DEFAULT NULL,
                              PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4;


-- Table structure for table `dishes`
DROP TABLE IF EXISTS `dishes`;
CREATE TABLE `dishes` (
                          `id` bigint NOT NULL AUTO_INCREMENT,
                          `merchant_id` bigint NOT NULL,
                          `category_id` bigint DEFAULT NULL,
                          `name` varchar(255) DEFAULT NULL,
                          `description` varchar(255) DEFAULT NULL,
                          `price` decimal(38,2) DEFAULT NULL,
                          `image_url` varchar(255) DEFAULT NULL,
                          `status` tinyint NOT NULL DEFAULT '1',
                          `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
                          `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                          `available` tinyint(1) DEFAULT 1,
                          PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4;


-- Table structure for table `orders`
DROP TABLE IF EXISTS `orders`;
CREATE TABLE `orders` (
                          `id` bigint NOT NULL AUTO_INCREMENT,
                          `user_id` bigint NOT NULL,
                          `merchant_id` bigint NOT NULL,
                          `total_amount` decimal(38,2) DEFAULT NULL,
                          `status` varchar(255) DEFAULT NULL,
                          `order_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
                          `delivery_address` varchar(255) DEFAULT NULL,
                          `phone` varchar(20) DEFAULT NULL,
                          `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
                          `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                          `address` varchar(255) DEFAULT NULL,
                          PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4;

INSERT INTO `orders` VALUES
                         (4,1,1,120.50,'Paid','2025-06-10 20:00:00',NULL,NULL,'2025-06-11 04:35:34','2025-06-11 04:35:34','AddressA'),
                         (5,1,1,54.00,'Paid','2025-06-11 03:40:59',NULL,NULL,'2025-06-11 11:40:59','2025-06-11 11:40:59','AddressB');

-- Table structure for table `order_details`
DROP TABLE IF EXISTS `order_details`;
CREATE TABLE `order_details` (
                                 `id` bigint NOT NULL AUTO_INCREMENT,
                                 `order_id` bigint NOT NULL,
                                 `dish_id` bigint NOT NULL,
                                 `quantity` int NOT NULL DEFAULT '1',
                                 `price` decimal(38,2) DEFAULT NULL,
                                 `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
                                 `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                                 PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4;

INSERT INTO `order_details` VALUES
                                (4,4,6,2,30.00,'2025-06-11 04:35:34','2025-06-11 04:35:34'),
                                (5,4,7,1,60.50,'2025-06-11 04:35:34','2025-06-11 04:35:34');

